<div class="d-flex mt-4 search-card">
  <input [(ngModel)]="search" class="form-control me-2 search-options" placeholder="Search ........">
  <button (click)="getLength()" class="btn btn-primary search-options">Search</button>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let p of products"  class="col-12 col-sm-6 col-md-3 mb-4">

      <div class="card h-100">
        <a [routerLink]="['/product-api',p.id]">
          <div class="card-body">
            <img [src]="p.images[0]" class="card-img-top" alt="Product image">
              <h5 class="card-title">{{ p.title  }}</h5>
            <p class="card-text">{{ p.price | currency:'EGP'}}</p>
          </div>
        </a>
        <button (click)="Deleteing(p.id)">Delete</button>
        <button (click)="edit(p.id)">Edit</button>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-between mt-3">
  <button class="btn btn-secondary page" [disabled]="skip===0" (click)="prevPage()">Prev</button>
  <button class="btn btn-secondary page" [disabled]="skip+limit >=lengthOfProducts" (click)="nextPage()">Next</button>

</div>
