.card-img-top{
    height: 200px;
    width: 200px;
}
button, .page{
    background-color: antiquewhite;
    width: 50%;
    margin: 20px auto;
    border-radius: 10%;
    border: none;
    height: 10%;
}
a{
    height: 280px;
}
.page{
    width: 8%;
    background-color: chocolate;
}
.search-card{
    width: 50%;
    margin: auto 22%;
}
.search-options{
    margin-bottom: 30px;
}
.search-card button{
    background-color: chocolate;
    width: 120px;
    margin-top: 10px;
}